.buttonspan{
    margin-top:30px;
}
#myscardpan{
    margin-top:3%;
}

.panel-body img {
    width: 100%;
    max-width: 100%;
  }
  .panel-body p {
    margin: 0;
    margin-top: 5px;
  }
<<<<<<< HEAD
  
=======
/*   card-img-top{
    width:100%;
    height:auto;
  } */
>>>>>>> 0019d84d6def90fe7557ecdde32fcbd8647e3c74
  agm-map {
    height: 30vh;
  }
  
  
  
